{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% load static%}
{% block content %}

   <!-- The header was extended from the base.html  -->
  

    <!-- Start pricing -->
    <div class="container-lg py-5">
        <div class="col-md-12 m-auto text-center py-5">
            
        {% include "message.html" %}
            <h1 class="pricing-header h2 semi-bold-600" style="margin-top: -45px;">Project</h1>
            <p class="pricing-footer">
                Eazy Skul provides  trusted allies to complete Projects construction , research , typing and binding at an affordable price. 
                select your option and fill the form carefully.
            </p>
        </div>


        <div class="row px-lg-3">
            <div class="col-md-4 pb-5 pt-sm-0 mt-5 px-xl-3">
                <div class="pricing-table card h-100 shadow-sm border-0 py-5">
                    <div class="pricing-table-body card-body rounded-pill text-center align-self-center p-md-0">
                        <i class="pricing-table-icon display-3 bx bx-package text-secondary"></i>
                        <h2 class="pricing-table-heading h5 semi-bold-600">INDIVIDUAL PROJECT</h2>
                        <p>$50</p>
                        <ul class="pricing-table-body text-start text-dark px-4 list-unstyled light-300">
                            <li><i class="bx bxs-circle me-2"></i>Proposals</li>
                            <li><i class="bx bxs-circle me-2"></i>Research</li>
                            <li><i class="bx bxs-circle me-2"></i>Typing </li>
                            <li><i class="bx bxs-circle me-2"></i>Construction</li>
                        </ul>
                        <div class="pricing-table-footer pt-5">
                            <a href="#" class="btn rounded-pill px-4 btn-outline-primary light-300">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 pt-sm-0 pt-3 px-xl-3">
                <div class="pricing-table card bg-secondary h-100 card-rounded shadow-sm border-0 py-5">
                    <div class="pricing-table-body card-body text-center text-white align-self-center p-md-0">
                        <i class="pricing-table-icon display-3 bx bx-package text-white py-3"></i>
                        <h2 class="pricing-table-heading h5 semi-bold-600">GENERAL PROJECT</h2>
                        <p>$20</p>
                        <ul class="pricing-table-list text-start text-dark px-4 list-unstyled light-300">
                            <li class="text-white"><i class="bx bxs-circle me-2"></i>Reasearch</li>
                            <li class="text-white"><i class="bx bxs-circle me-2"></i>Typing</li>
                            <li class="text-white"><i class="bx bxs-circle me-2"></i>Construction</li>
                            <li class="text-white"><i class="bx bxs-circle me-2"></i>Costume</li>
                        </ul>
                        <div class="pricing-table-footer pt-5 pb-2">
                            <a href="#" class="btn rounded-pill px-4 btn-outline-light light-300">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 pb-5 pt-sm-0 mt-5 px-xl-3">
                <div class="pricing-table card h-100 shadow-sm border-0 py-5">
                    <div class="pricing-table-body card-body text-center align-self-center p-md-0">
                        <i class="pricing-table-icon display-3 bx bx-package text-secondary"></i>
                        <h2 class="pricing-table-heading h5 semi-bold-600">GROUP PROJECT</h2>
                        <p>$30</p>
                        <ul class="pricing-table-list text-start text-dark px-4 list-unstyled light-300">
                            <li><i class="bx bxs-circle me-2"></i>Proposal</li>
                            <li><i class="bx bxs-circle me-2"></i>Construction</li>
                            <li><i class="bx bxs-circle me-2"></i>Typing </li>
                            <li><i class="bx bxs-circle me-2"></i>Research</li>
                            <li><i class="bx bxs-circle me-2"></i>Binding</li>
                        </ul>
                        <div class="pricing-table-footer pt-1">
                            <a href="#" class="btn rounded-pill px-4 btn-outline-primary light-300">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- End Content -->
        <h1 class="h2 semi-bold-600 text-center pt-5">Project Defence</h1>
        <p class="text-center pb-5 light-300"> Project defence is very important, no matter how excellent your project seems, you must be able justify your works.<br></p>
        <div style="margin-left: 14%; margin-top: -55;" >
            <p><b>Tips for a succesful project defence. </b><br>
            1. Put on your departmental dressing code(black & white, light-green & black e.t.c) .<br>
            2. Do a skim reading on your project topic. <br>
            3. Think it through before you speak to avoid bad grammers. <br>
            4. Take a deep breath to ease the pressure or better still practice with a mirrow before presenting.<br>
            5. Lastly give yourself a positive word of affirmation e.g I'm bold, i'm beautiful  <br>
            i've worked so hard for this day , i will do this for myself. trust me you'll be fine. <br>

            <i>Best of Luck </i> 
        </div>
   
        <p style="text-align: center;"> <b>NOTE:</b> urgent substitution can be done, to ensure you don't lose marks. <a href="{% url 'contact' %}">Contact</a></p>
    


    <section class="container py-5">
        <h1 class="col-12 col-xl-8 h2 text-left text-primary pt-3">Eazy Skul project delivery</h1>
        <h2 class="col-12 col-xl-8 h4 text-left regular-400">Fill in the form below for project excellence. </h2>
        <p class="col-12 col-xl-8 text-left text-muted pb-5 light-300">
            Specify if it's a group project or not, as for project construction. Eazy Skul have trusted vendors to supply 
            and assist you on your project construction.
        </p>
        
        <div class="col-lg-8 ">
            <form class="contact-form row" method="post" action="#" role="form">
                {% csrf_token %}
                <div class="col-lg-6 mb-4">
                    <div class="form-floating">
                        {{profom.name}}
                        <label for="floatingname light-300">Name</label>
                    </div>
                </div>
                <!-- End Input Name -->

                <div class="col-lg-6 mb-4">
                    <div class="form-floating">
                        {{profom.regno}}
                        <label for="floatingemail light-300">Reg No</label>
                    </div>
                </div>
                <!-- End Input Email -->

                <div class="col-lg-6 mb-4">
                    <div class="form-floating">
                        {{profom.email}}
                        <label for="floatingphone light-300">Email</label>
                    </div>
                </div>
                <!-- End Input Phone -->

                <div class="col-lg-6 mb-4">
                    <div class="form-floating">
                        {{profom.phone}}
                        <label for="floatingcompany light-300">Phone</label>
                    </div>
                </div>
                <!-- End Input Company Name -->

                <div class="col-12">
                    <div class="form-floating mb-4">
                        {{profom.department}}
                        <label for="floatingsubject light-300">Department</label>
                    </div>
                </div>
                <!-- End Input Subject -->

                <div class="col-12">
                    <div class="form-floating mb-4">
                        {{profom.project_topic}}
                        <label for="floatingsubject light-300">Project Topic</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating mb-4">
                        {{profom.message}}
                        <label for="floatingsubject light-300">Description e.g Group or Individual Project?</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating mb-4">
                        {{profom.school}}
                        <label for="floatingsubject light-300">Name Of Institute</label>
                    </div>
                </div>


                <div class="col-md-12 col-12 m-auto text-end">
                    <button type="submit" class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300">Send Message</button>
                </div>

            </form>
        </div>
    </section>
{% endblock %}