{% extends "base.html" %}
{% block title %} Reset Password {% endblock %}
{% load static%}
{% block content %}



<section class="banner-bg bg-light py-5">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">
                    <div class="text-center mt-4">
                        <h1 class="h2"> Password reset Successfull </h1>
                        <p class="lead"> You can now login or imaka Your password has been set.  You may go ahead and log in now..............</p>
                        
                    </div>
                    <a href="login.html" class="btn btn-lg btn-primary">Reset </a>
                    <!-- center the button  -->
            </div>
        </div>
    </div>
 </div>
</section>



<h1>Password set</h1>
<p>Your password has been set. You can <a href="{% url 'login'%}">log in
now</a></p>
<p><a href="{% url 'password_reset' %}">Forgotten your
    password?</a></p>
    
{% endblock %}
