{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="{% static 'img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- Load Require CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font CSS -->
    <link href="{% static 'css/boxicon.min.css' %}" rel="stylesheet">
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap' %}" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="{% static 'css/templatemo.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    
    <link rel="stylesheet" href="{% static 'form/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'form/css/owl.carousel.min.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font CSS -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />

    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
   


<!-- Header -->
<nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand h1" href="{% url 'index' %}">
            <i class='bx bx-buildings bx-sm text-dark'></i>
            <span class="text-dark h4">Eazy</span> <span class="text-primary h4">Skul</span>
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
            <div class="flex-fill mx-xl-5 mb-2">
                <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'work' %}">Eazy Skul</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'contact' %}">Contact</a>
                    </li>

                    {% if request.user.is_authenticated %} 
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    {% else %} 
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}                
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <a class="nav-link" href="#"><i class='bx bx-bell bx-sm bx-tada-hover text-primary'></i></a>
                <a class="nav-link" href="#"><i class='bx bx-cog bx-sm text-primary'></i></a>
                <a class="nav-link" href="#"><i class='bx bx-user-circle bx-sm text-primary'></i></a>
            </div>
        </div>
    </div>
</nav>
<!-- Close Header -->


{% block content %}

{% endblock %}

<!-- Start Footer -->
<footer class="bg-secondary pt-4 ">
    <div class="container ">
        <div class="row py-4 ">
            <div class="col-lg-3 col-12 align-left ">
                <a class="navbar-brand " href="{% url 'index' %} ">
                    <i class='bx bx-buildings bx-sm text-light'></i>
                    <span class="text-light h5 ">Eazy</span> <span class="text-light h5 semi-bold-600 ">Skul</span>
                </a>
                <p class="text-light my-lg-4 my-2 ">
                    Eazy Skul gives you  a better schooling experience. Enjoy !!
                </p>
                <ul class="list-inline footer-icons light-300 ">
                    <li class="list-inline-item m-0 ">
                        <a class="text-light " target="_blank " href="https://www.facebook.com/profile.php?id=100090614452441">
                            <i class='bx bxl-facebook-square bx-md'></i>
                        </a>
                    </li>
                    <li class="list-inline-item m-0 ">
                        <a class="text-light " target="_blank " href="https://instagram.com/king_of_greatnezz?igshid=YmMyMTA2M2Y=">
                            <i class='bx bxl-linkedin-square bx-md'> </i>
                        </a>
                    </li>
                    <li class="list-inline-item m-0 ">
                        <a class="text-light " target="_blank " href="https://wa.me/message/LMZSTXSTIAD2K1">
                            <i class='bx bxl-whatsapp-square bx-md'></i>
                        </a>
                    </li>
                    <li class="list-inline-item m-0 ">
                        <a class="text-light " target="_blank " href="https://www.youtube.com/channel/UCEXQzBBg0LSqRM332wgAmlQ ">
                            <i class='bx bxl-flickr-square bx-md'></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 my-sm-0 mt-4 ">
                <h3 class="h4 pb-lg-3 text-light light-300 ">Our Company</h2>
                    <ul class="list-unstyled text-light light-300 ">
                        <li class="pb-2 ">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light " href="{% url 'index' %} ">Home</a>
                        </li>
                        <li class="pb-2 ">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1 " href="{% url 'about' %} ">About </a>
                        </li>
                        <li class="pb-2 ">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i>
                            <a class="text-decoration-none text-light py-1 " href="{% url 'work' %} ">Eazy Skul</a>
                        </li>
                        <li class="pb-2 ">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1 " href="{% url 'contact' %} ">Contact</a>
                        </li>
                        <li class="pb-2 ">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1 " href="{% url 'terms_condition' %} ">Terms of Use & Policy </a>
                        </li>
                    </ul>
            </div>


            <div class="col-lg-3 col-md-4 my-sm-0 mt-4 ">
                <h2 class="h4 pb-lg-3 text-light light-300 ">For Client</h2>
                <ul class="list-unstyled text-light light-300 ">
                    <li class="pb-2 ">
                        <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-light py-1 " href="tel:+2347010562468">+2347010562468</a>
                    </li>
                    <li class="pb-2 ">
                        <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-light py-1 " href="tel:+2348119439714">+2348119439714</a>
                    </li>
                    <li class="pb-2 ">
                        <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1 " href="#">kingofgreatnezzz@gmail.com</a>
                    </li>
                    <li class="pb-2 ">
                        <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1 " href="https://instagram.com/king_of_greatnezz?igshid=YmMyMTA2M2Y=">IG:king_of_greatnezz</a>
                    </li>
                    <li class="pb-2 ">
                        <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1 " href="https://www.facebook.com/profile.php?id=100090614452441">FB:king greatnezz</a>
                    </li>
                    <li class="pb-2 ">
                        <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1 " href="https://www.youtube.com/channel/UCEXQzBBg0LSqRM332wgAmlQ ">YouTube: King_Of_Greatnezz</a>
                    </li>
                    <li class="pb-2 ">
                        <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1 " href="https://www.youtube.com/channel/UCEXQzBBg0LSqRM332wgAmlQ ">Twitter: KingofGreatnezz</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="w-100 bg-primary py-3 ">
        <div class="container ">
            <div class="row pt-2 ">
                <div class="col-lg-6 col-sm-12 ">
                    <p class="text-lg-start text-center text-light light-300 ">
                        © Copyright 2023 Eazy Skul Company . All Rights Reserved.
                    </p>
                </div>
                <div class="col-lg-6 col-sm-12 ">
                    <p class="text-lg-end text-center text-light light-300 ">
                        Designed by <a rel="sponsored " class="text-decoration-none text-light " target="_blank "><strong>King of Greatness</strong></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>



    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Templatemo -->
    <script src="{% static 'js/templatemo.js' %}"></script>
    <!-- Custom -->
    <script src="{% static 'js/custom.js' %}"></script>

     <!-- work.html -->
    <script src="{% static 'js/fslightbox.js' %}"></script>
    <script>
        fsLightboxInstances['gallery'].props.loadOnlyCurrentSource = true;
    </script>
    <!-- Load jQuery require for isotope -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Isotope -->
    <script src="{% static 'js/isotope.pkgd.js' %}"></script>

    <script src="{% static 'form/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'form/js/popper.min.js' %}"></script>
    <script src="{% static 'form/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'form/js/main.js' %}"></script>
    <script>
        $(window).load(function() {
            // Slide
            $('.templatemo-slide-link').click(function() {
                var this_href = $(this).attr('href');
                $('#templatemo-slide-link-target img').attr('src', this_href);
                return false;
            });
            // End Slide
        });
    </script>

<!-- Load jQuery require for Page Script -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/extention/choices.js' %}"></script>
<!-- Page Script -->
<script>
    $(window).load(function() {
        // init Isotope
        var $projects = $('.projects').isotope({
            itemSelector: '.project',
            layoutMode: 'fitRows'
        });
        $(".filter-btn").click(function() {
            var data_filter = $(this).attr("data-filter");
            $projects.isotope({
                filter: data_filter
            });
            $(".filter-btn").removeClass("active");
            $(".filter-btn").removeClass("shadow");
            $(this).addClass("active");
            $(this).addClass("shadow");
            return false;
        });
    });
</script>

</body>
</html>