{% extends "base.html" %}
{% load static%}
{% block title %} Halls Image description{% endblock %}
{% block content %}
<style>
    .sub-img{
        width: 500rem;
        background-color: blue;
    }
    img{
        /*box-shadow: 6px 12px 12px 24px rgba(22, 21, 21, 0.075);*/
        transition: all 0.9s;
    }
    img:hover{
        transition: all 0.9s;
    }
    body{
        background: rgba(241, 245, 244, 0.89);
    }
    .heade{
        background: rgb(7, 0, 0);
        color: rgb(220, 227, 229);
        text-align: center;
        font-family:cursive;
        font-size: 2rem;
        padding-bottom: 0.9rem;
        padding-top: 0.9rem;
    }
    .heade:hover{
        background: white;
        color: rgb(1, 41, 151);
        transition: all 0.9s;
        cursor: pointer;
    }
</style>

    <section class="container py-5">
        <div class="row justify-content-center pb-4">
            <div class="col-lg-8">
                <h3 style="text-align: center;">{{sub_hall.name2}}</h3>
                <div id="templatemo-slide-link-target" class="card mb-3">
                    <img class="img-fluid border rounded" src="{% if sub_hall.image %} {{sub_hall.image.url}} {% else %}{% static 'img/work-slide-04.jpg' %}{% endif %}" alt="Card image cap" width="">
                </div>
                
                    <p>{{sub_hall.full_description}}</p>
                <div class="worksingle-slide-footer row">
    
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="multi-item-example" role="button" data-bs-slide="prev">
                            <i class='bx bxs-chevron-left bx-sm text-dark'></i>
                        </a>
                    </div>
                    <!--End Controls-->
                    <div id="multi-item-example" class="col-10 carousel slide" data-bs-ride="carousel">
                        <!--Start Slides-->
                        <div class="carousel-inner" role="listbox">
    
                            <!--First slide-->
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="{% if sub_hall.image2 %} {{sub_hall.image2.url}} {% else %}{% static 'img/work-slide-04.jpg' %}{% endif %}">
                                            <img class="img-fluid border rounded" src="{% if sub_hall.image2 %} {{sub_hall.image2.url}} {% else %}{% static 'img/work-slide-04.jpg' %}{% endif %}" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="{% if sub_hall.image3 %} {{sub_hall3.image3.url}} {% else %}{% static 'img/work-slide-04.jpg' %}{% endif %}">
                                            <img class="img-fluid border rounded" src="{% if sub_hall.image3 %} {{sub_hall3.image3.url}} {% else %}{% static 'img/work-slide-04.jpg' %}{% endif %}" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="{% if sub_hall.image4 %} {{sub_hall.image4.url}} {% else %}{% static 'img/work-slide-04.jpg' %}{% endif %}">
                                            <img class="img-fluid border rounded" src="{% if sub_hall.image4 %} {{sub_hall.image4.url}} {% else %}{% static 'img/work-slide-04.jpg' %}{% endif %}" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="{% if sub_hall.image5 %} {{sub_hall.image5.url}} {% else %}{% static 'img/work-slide-04.jpg' %}{% endif %}">
                                            <img class="img-fluid border rounded" src="{% if sub_hall.image5 %} {{sub_hall.image5.url}} {% else %}{% static 'img/work-slide-04.jpg' %}{% endif %}" alt="Product Image">
                                        </a>
                                    </div>
                                  
                                </div>
                            </div>
                            <!--/.First slide-->
    
                            <!--Second slide-->
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="{% if sub_hall.image1 %} {{sub_hall.image1.url}} {% else %}{% static 'img/work-slide-04.jpg' %}{% endif %}">
                                            <img class="img-fluid border rounded" src="{% if sub_hall.image1 %} {{sub_hall.image1.url}} {% else %}{% static 'img/work-slide-04.jpg' %}{% endif %}" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="{% if sub_hall.image6 %} {{sub_hall.image6.url}} {% else %}{% static 'img/work-slide-04.jpg' %}{% endif %}">
                                            <img class="img-fluid border rounded" src="{% if sub_hall.image6 %} {{sub_hall.image6.url}} {% else %}{% static 'img/work-slide-04.jpg' %}{% endif %}" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="{% if sub_hall.image7 %} {{sub_hall.image7.url}} {% else %}{% static 'img/work-slide-01.jpg' %}{% endif %}">
                                            <img class="img-fluid border rounded" src="{% if sub_hall.image7 %} {{sub_hall.image7.url}} {% else %}{% static 'img/work-slide-01.jpg' %}{% endif %}" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="img/work-slide-06.jpg">
                                            <img class="img-fluid border rounded" src="img/work-slide-06-small.jpg" alt="Product Image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--/.Second slide-->
                        </div>
                        <!--End Slides-->
                    </div>
                    <!--End Carousel Wrapper-->
                    <div class="col-1 align-self-center text-end">
                        <a href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class='bx bxs-chevron-right bx-sm text-dark'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
       
    </section>




    
{% endblock %}